src/test/resources/circular1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        targetNamespace="http://javagen.com/fee"
        xmlns:fee="http://javagen.com/fee" version="1.0.0">

    <include schemaLocation="circular2.xsd"/>

    <complexType name="FeeType">
        <sequence>
            <element name="fi" type="fee:FiType"/>
        </sequence>
    </complexType>
    <complexType name="FoType">
        <sequence>
            <element name="name" type="xs:string"/>
        </sequence>
    </complexType>

    <element name="fee" type="fee:FeeType"/>
</schema>